<h1>Listing snippets</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Contents</th>
  </tr>

<% for snippet in @snippets %>
  <tr>
    <td><%=h snippet.user %></td>
    <td><%=h snippet.title %></td>
    <td><%=h snippet.contents %></td>
    <td><%= link_to 'Show', snippet %></td>
    <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
    <td><%= link_to 'Destroy', snippet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New snippet', new_snippet_path %>
