<% @title = "New snippet" %>

You may create new snippets by sending an email to xiocom.snippem@gmail.com or
by entering them here.  Snippets submitted by email should show up within five
to ten minutes.  If entered via the web form, the "user" field should be
everything before the '@' in your email address (eg, "jhyland").

<% form_for(@snippet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %> <br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :contents %><br />
    <%= f.text_area :contents %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', snippets_path %>
