<h1>Snippets for <%= @user %> (<%= link_to 'user index', users_url %>)</h1>

<% @snippets.each do |s| %>
  <% div_for(s) do %>
    Date: <%= s.created_at %> <br>
    Title: <%= s.title %> <br>

    <p> <%= s.contents %> </p>
  <% end %>

<% end %>
