<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Snippets: <%= @title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

  <div class="header">
    <img src="/images/logo_extended.gif" class="logo"> 
    <div class="title"> <h1> Snippem: <%= @title %></h1> </div>
  </div>

  <div class="navbar">
    <ul class="links">
      <li><%= link_to "blog index", users_url %></li>
      <li><%= link_to "new snippet", new_snippet_url %></li>
    </ul>
  </div>

  <div class="main">
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield  %>
  </div>

</body>
</html>
